<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>PromoCode</title>
</head>

<body>
    <div id="app" class="container-promo">
        <div class="row">
            <div class="col s12 m12 l12 center-align">
              <table>
                <thead>
                  <tr>
                      <th>Code promo</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td v-for="promocode in promocodes">
                        {{ promocode.name }}
                    </td>
                  </tr>
                </tbody>
              </table>
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title">Valider votre promoCode</span>
                        <div class="row">
                            <div class=" l6 m6 s6">
                                <div class="input-field col s6 l6 m6">
                                    <input placeholder="Lyon.." id="city" type="text" class="validate" v-model="city">
                                    <label class="active" for="city">Votre ville</label>
                                </div>
                                <div class="input-field col s6 l6 m6">
                                    <input placeholder="25" id="age" type="number" class="validate" v-model="age">
                                    <label class="active" for="age">âge</label>
                                </div>
                            </div>
                            <div class="input-field col s12 m12 l12">
                                <input placeholder="Entrer votre promoCode.." id="promo" type="text" class="validate" v-model="promocode">
                                <label class="active" for="promo">PromoCode</label>
                            </div>
                            <a class="waves-effect waves-light btn" v-on:click="checkPromoCode">Demande de réduction</a>
                        </div>
                         <span class="card-title">Inserer votre PromoCode/</span>
                           <div class=" l6 m6 s6">
                              <div class="input-field col s6 l6 m6">
                                  <input placeholder="Intitulé.." id="name" type="text" class="validate" v-model="name">
                                  <label class="active" for="name">Intitulé</label>
                              </div>
                              <div class="input-field col s6 l6 m6">
                                  <input placeholder="20" id="avantage" type="number" class="validate" v-model="avantage">
                                  <label class="active" for="avantage">Pourcentage promotionnel</label>
                              </div>
                            </div>
                            <a class="waves-effect waves-light btn" v-on:click="insertPromocode">Insertion PromoCode</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/fr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        let app = new Vue({
            el: "#app",
            data: {
                promocodes: [],
                apikey: "d0562f476913da692a065c608d0539f6",// a terme creer un .env
                meteo: [],
                promocode: "",
                age: "",
                city: "",
                message: "",
                date: "",
                name: "",
                avantage: ""
            },
            mounted() {
               axios.get('/api/PromoCodes').then((res) => {
                    this.promocodes = res.data
                    console.log(res.data);
                    
                  })
            },
            methods: {
                checkPromoCode() {
                  let form = {
                    age: this.age,
                    city: this.city,
                    date: this.date,
                    promocode: this.promocode,
                    date: moment().format()
                  };
                   // si les champs sont vides on indique
                  if(form.age === "" || form.city === "" || form.promocode === "") {
                     return M.toast({html: 'Veuillez remplir les champs vides'})
                  }
                     // call route api meteo
                  axios.get(`https://api.openweathermap.org/data/2.5/weather?q=${form.city}&appid=${this.apikey}`).then( (res) => {
                    this.meteo = res.data
                  });
                  if(this.meteo.weather[0].main === "Clear") {
                    return this.checkAge();
                  } else {
                    return M.toast({html: `Error`});
                  }  

                },
                checkAge() {
                  switch (this.age) {
                    case 40:
                      this.checkValidDate();
                      this.clearinput();
                      return M.toast({html: `Votre code promotionnel de 20% sur votre prochaine course à bien été activé :)`}) 
                      break;
                    case (this.age >= 15 && this.age <= 35 ) :
                      this.checkValidDate();
                      this.clearinput();
                       return M.toast({html: `Votre code promotionnel de 20% sur votre prochaine course à bien été activé :)`})
                      break;
                    default:   return M.toast({html: ` :(`})
                      break;
                  }
                },
                clearinput() {
                  this.age = "";
                  this.city = "";
                  this.date = "",
                  this.promocode = "";
                },
                checkValidDate() {
                  this.date = moment().format();
                  if(!this.date > moment('1493683200').format() && !this.date < moment('1556755200').format()) return M.toast({html: `Votre code promotionnel à expiré :(`})
                },
                insertPromocode(){
                    let form = {
                      name: this.name,
                      avantage: this.avantage,
                      date: moment().format()
                    };
                    axios.post('/api/PromoCodes', {
                      name: form.name,
                      avantage: form.avantage,
                      meteo: 0,
                      age: 0,
                      start_date: form.date,
                      end_date: moment().add(1, 'year')

                    })
                    .then(function (response) {
                      console.log(response);
                    })
                    .catch(function (error) {
                      console.log(error);
                    });
                }
            },

        })
    </script>
</body>
<style lang="css" scope>
  html {
    width: 100%; 
    margin: 0 auto;
    background: #ECECEC;
  }
  #app {
    width: 30%;
    margin: 150px auto;
  }
</style>
</html